<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Available Contacts</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Available Contacts</h1>
      <nav class="nav nav-pills">
        <a class="nav-link nav-item" th:href="'/'">Home Page</a>
        <th:block th:if="${referrer} == 'edit'">
          <a
              class="btn nav-link nav-item"
              th:href="'/client/edit/' + ${client.entityId}"
              th:text="'Back to editing ' + ${client.companyName}"
          >
            Back to editing Client
          </a>
        </th:block>
        <th:block th:if="${referrer} == 'view'">
        <a
          class="btn nav-link nav-item"
          th:href="'/client/client-view/' + ${client.entityId}"
          th:text="'Back to ' + ${client.companyName}"
        >
          Back to Client
        </a>
        </th:block>
      </nav>
      <th:block th:unless="${#lists.isEmpty(contacts)}">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="contact : ${contacts}">
              <tr>
                <td th:text="${contact.firstName}">First</td>
                <td th:text="${contact.lastName}">Last</td>
                <td th:text="${contact.emailAddress}">first.last@email.com</td>
                <td>
                  <form
                    th:action="'/client/available-contacts/' + ${contact.entityId}"
                    method="post"
                  >
                    <input type="hidden" name="entityId" th:value="${client.entityId}" />
                    <input type="hidden" name="referrer" th:value="${referrer}" />
                    <input type="submit" value="Add Contact" />
                  </form>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </th:block>
      <th:block th:if="${#lists.isEmpty(contacts)}">
        <p>You are already associated with all available contacts.</p>
      </th:block>
    </div>
  </body>
</html>
