<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Available Contacts</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Available Contacts</h1>
      <nav>
        <a th:href="'/'">Home Page</a>
        <a
          th:href="'/client/edit/' + ${client.clientId}"
          th:text="'Back to Editing ' + ${client.companyName}"
        >
          Back to Client
        </a>
      </nav>
      <th:block th:unless="${#lists.isEmpty(contacts)}">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="contact : ${contacts}">
              <tr>
                <td th:text="${contact.firstName}">First</td>
                <td th:text="${contact.lastName}">Last</td>
                <td th:text="${contact.emailAddress}">first.last@email.com</td>
                <td>
                  <form
                    th:action="'/client/edit/' + ${client.clientId} + '-' + ${contact.personId}"
                    method="post"
                  >
                    <input type="submit" name="command" value="Add Contact" />
                  </form>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </th:block>
      <th:block th:if="${#lists.isEmpty(contacts)}">
        <p>You are already associated with all available contacts.</p>
      </th:block>
    </div>
  </body>
</html>
