<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Delete Client</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Delete Client</h1>
      <div class="help-inline">
        <p>
          You are about to delete the client <th:block th:text="${client.companyName}" />
          <th:block th:text="${client.website}" />: Are you sure?
        </p>
      </div>
      <form class="well" action="/client/delete" method="post">
        <div class="form-controls">
          <input class="btn" type="hidden" name="clientId" th:value="${client.clientId}" />
          <input class="btn" type="submit" name="command" value="Cancel" />
          <input class="btn btn-primary" type="submit" name="command" value="Delete" />
        </div>
      </form>
    </div>
  </body>
</html>
