<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Edit Client</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
    <script type="text/javascript" src="/javascript/validator.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1>Edit Client</h1>
      <nav class="navbar">
        <a class="btn" th:href="'/client/list'">Cancel Edit</a>
      </nav>
      <th:block th:unless="${#lists.isEmpty(errors)}">
        <p>Please correct the following errors in your submission:</p>
        <ul>
          <th:block th:each="error : ${errors}">
            <li th:text="${error}">Error</li>
          </th:block>
        </ul>
      </th:block>
      <form class="well form-horizontal" action="/client/edit" method="POST">
        <input type="hidden" name="clientId" th:value="${client.clientId}" />
        <br />
        <label class="control-label" for="companyName">Company Name:</label>
        <div class="controls">
          <input type="text" id="companyName" name="companyName" th:value="${client.companyName}" />
        </div>
        <br />
        <label class="control-label" for="website">Website:</label>
        <div class="controls">
          <input type="text" id="website" name="website" th:value="${client.website}" />
        </div>
        <br />
        <label class="control-label" for="phone">Phone:</label>
        <div class="controls">
          <input type="text" id="phone" name="phone" th:value="${client.phone}" />
        </div>
        <br />
        <label class="control-label" for="streetAddress">Street Address:</label>
        <div class="controls">
          <input
            type="text"
            id="streetAddress"
            name="streetAddress"
            th:value="${client.streetAddress}"
          />
        </div>
        <br />
        <label class="control-label" for="city">City:</label>
        <div class="controls">
          <input type="text" id="city" name="city" th:value="${client.city}" />
        </div>
        <br />
        <label class="control-label" for="state">State:</label>
        <div class="controls">
          <input type="text" id="state" name="state" th:value="${client.state}" />
        </div>
        <br />
        <label class="control-label" for="zipCode">Zip Code:</label>
        <div class="controls">
          <input type="text" id="zipCode" name="zipCode" th:value="${client.zipCode}" />
        </div>
        <br />
        <div class="form-actions">
          <input class="btn" type="submit" name="command" id="AddContacts" value="Add Contact" />
          <input
            class="btn"
            type="submit"
            name="command"
            id="removeContacts"
            value="See/Remove Contacts"
          />
          <input class="btn btn-primary" type="submit" name="command" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
