<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Remove Contact</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Remove Contact</h1>
      <div class="help-inline">
        <p>
          You are about to remove the contact <th:block th:text="${person.firstName}" />
          <th:block th:text="${person.lastName}" />: Are you sure?
        </p>
      </div>
      <form class="well" th:action="'/client/remove' + '/' + ${person.entityId}" method="post">
        <div class="form-controls">
          <input type="hidden" name="entityId" th:value="${client.entityId}" />
          <input class="btn" type="submit" name="command" value="Cancel" />
          <input class="btn btn-primary" type="submit" name="command" value="Remove" />
        </div>
      </form>
    </div>
  </body>
</html>
