<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Available Clients</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Available Clients</h1>
      <nav class="nav nav-pills">
        <a class="nav-link nav-item" th:href="'/'">Home Page</a>
        <th:block th:if="${referrer} == 'edit'">
          <a
              class="btn nav-link nav-item"
              th:href="'/person/edit/' + ${person.personId}"
              th:text="'Back to editing ' + ${person.firstName} + ' ' + ${person.lastName}"
          >
            Back to editing Person
          </a>
        </th:block>
        <th:block th:if="${referrer} == 'view'">
          <a
              class="btn nav-link nav-item"
              th:href="'/person/person-view/' + ${person.personId}"
              th:text="'Back to ' + ${person.firstName} + ' ' + ${person.lastName}"
          >
            Back to Person
          </a>
        </th:block>
      </nav>
      <th:block th:unless="${#lists.isEmpty(clients)}">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Website</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="client : ${clients}">
              <tr>
                <td th:text="${client.companyName}">Company Name</td>
                <td th:text="${client.website}">Website</td>
                <td th:text="${client.phone}">example.com</td>
                <td>
                  <form th:action="'/person/available-clients/' + ${client.clientId}" method="post">
                    <input type="hidden" name="personId" th:value="${person.personId}" />
                    <input type="hidden" name="referrer" th:value="${referrer}" />
                    <input type="submit" value="Add Client" />
                  </form>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </th:block>
      <th:block th:if="${#lists.isEmpty(clients)}">
        <p>You are already associated with all available clients.</p>
      </th:block>
    </div>
  </body>
</html>
