<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Client View</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
  </head>
  <body>
    <div class="container">
      <h2>Current Clients</h2>
      <nav class="nav nav-pills">
        <a class="nav-link nav-item" th:href="'/'">Home Page</a>
        <a
          class="btn nav-link nav-item"
          th:href="'/person/edit/' + ${person.personId}"
          th:text="'Back to Editing ' + ${person.firstName} + ' ' + ${person.lastName}"
        >
          Back to Person
        </a>
      </nav>
      <hr />

      <th:block th:unless="${#lists.isEmpty(clients)}">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Website</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="client : ${clients}">
              <tr>
                <td th:text="${client.companyName}">Company Name</td>
                <td th:text="${client.website}">Website</td>
                <td th:text="${client.phone}">Phone</td>
                <td>
                  <form
                    th:action="'/person/edit/' + ${person.personId} + '-' + ${client.clientId}"
                    method="post"
                  >
                    <input
                      class="btn btn-primary"
                      type="submit"
                      name="command"
                      value="Remove Client"
                    />
                  </form>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </th:block>
      <th:block th:if="${#lists.isEmpty(clients)}">
        <p>No clients found.</p>
      </th:block>
    </div>
  </body>
</html>
