<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Delete Person</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Delete Person</h1>
      <div class="help-inline">
        <p>
          You are about to delete the person <th:block th:text="${person.firstName}" />
          <th:block th:text="${person.lastName}" />: Are you sure?
        </p>
      </div>
      <form class="well" action="/person/delete" method="post">
        <input type="hidden" name="entityId" th:value="${person.entityId}" />
        <input class="btn" type="submit" name="command" value="Cancel" />
        <input class="btn btn-primary" type="submit" name="command" value="Delete" />
      </form>
    </div>
  </body>
</html>
